* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
}
.navber-section {
  background-image: url("../images/Assets/Hero-bg.png");
}
.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: auto;
}

.logo img {
  width: 200px;
}
.navber button {
  padding: 17px 24px;
  background: linear-gradient(to right, #4e47ff, #4e49e8);
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.navber button:hover {
  background: linear-gradient(to right, #6461be, #4e47ff);
  color: white;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.baner {
  padding: 158px 0px;
  text-align: center;
}
.baner h1 {
  font-size: 65px;
  color: #4e47ff;
  font-weight: 800;
}
.baner button {
  margin-top: 37px;
  padding: 15px 30px;
  border: none;
  border-radius: 7px;
  background-color: #4e47ff;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.baner button:hover {
  background-color: #6461be;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
/* action section */
.action-section {
  display: flex;
  max-width: 1140px;
  margin: auto;
  padding: 100px 0px;
}
.col-1 {
  width: 50%;
  align-content: center;
}
.col-2 {
  width: 50%;
  display: flex;
  justify-content: right;
  padding: 0px;
}

.action h2 {
  font-size: 42px;
  font-weight: bold;
}
.action p {
  font-size: 24px;
  color: #252432;
  margin-top: 20px;
}
.action button {
  font-size: 20px;
  color: white;
  padding: 15px 30px;
  border: none;
  margin-top: 20px;
  background-color: #4e47ff;
  font-weight: bold;
  border-radius: 10px;
}
.action button:hover {
  background: linear-gradient(to right, #6461be, #4e47ff);
  color: rgb(20, 7, 7);
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.col-2 img {
  border-radius: 15px;
  width: 100%;
}
/* productive section */
.Productive-Section {
  text-align: center;
  background-color: #e5e7ff;
  max-width: 1140px;
  margin: 200px auto;
  border-radius: 24px;
}
.Productive-Section h3 {
  font-size: 38px;
  font-weight: bold;
  padding: 50px 0px 0px 0px;
}
.productive {
  display: flex;
  justify-content: space-evenly;
  padding: 80px 50px;
}
.product .user {
  font-size: 80px;
  color: #4e47ff;
  font-weight: bold;
}
.product .active {
  font-size: 20px;
  color: #0000007b;
}
/* feedback section */
.feedback-section {
  max-width: 1140px;
  margin: auto;
  margin: 200px auto;
}
.feedback-item {
  padding: 24px;
  background-color: #fafcff;
  border-radius: 10px;
}
.feedback-item:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.feedback {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.feedback-section h3 {
  font-size: 38px;
  font-weight: bold;
  padding: 0px 0px 50px 0px;
  text-align: center;
}
.feedback-section .reviewer {
  display: flex;
  padding: 0px 0px;
}
.feedback-section .avatar {
  border-radius: 50%;
  margin-right: 8px;
}
.feedback h4 {
  font-size: 24px;
  font-weight: bold;
  padding: 12px 0px 6px 0px;
}
.feedback .para {
  padding: 12px 0px;
  font-weight: bold;
  color: #04040b83;
  font-size: 18px;
}
.feedback p {
  color: #04040b83;
}

/* ready-section */
.ready-section {
  max-width: 1140px;
  margin: auto;
  padding: 100px 0px;
  border-radius: 15px;
  background-color: white;
}
.ready-section h2 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px;
}
.ready-section p {
  font-size: 24px;
  color: #252432;
  text-align: center;
  padding: 20px 0px;
}
.ready-section button {
  display: block;
  margin: auto;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #4e47ff;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.ready-section button:hover {
  background: linear-gradient(to right, #6461be, #4e47ff);
  color: rgb(20, 7, 7);
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.ready-section .img-section img {
  border-radius: 15px;
}
.ready-section .img-section {
  text-align: center;
  padding: 20px 0px;
}
/* contact-section */
.contact-section {
  max-width: 1140px;
  margin: auto;
  padding: 100px 0px;
  text-align: center;
}
.contact {
  display: flex;
  text-align: left;
}
.contact-section .contact h3 {
  font-size: 97px;
  font-weight: bold;
}
.col-3 {
  width: 50%;
  align-content: center;
}
.col-4 {
  width: 50%;
  display: flex;
  justify-content: right;
}
.col-4 label {
  font-size: 18px;
  font-weight: bold;
}
.col-4 input {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 32px;
  width: 497px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.col-4 textarea {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 32px;
  width: 497px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.col-4 button {
  padding: 15px 30px;
  width: 497px;
  border: none;
  border-radius: 10px;
  background-color: #4e47ff;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.col-4 button:hover {
  background: linear-gradient(to right, #6461be, #4e47ff);
  color: rgb(20, 7, 7);
  transition: transform 0.3s ease;
}
form {
  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 5px;
}

/* footer section */
.footer {
  text-align: center;
  margin: auto;
  padding: 100px 0px;
  background-color: white;
}
.footer p {
  font-size: 20px;
  font-weight: bold;
  color: #04040b83;
  padding: 20px 0px 0px 0px;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}
.footer-links a {
  text-decoration: none;
  color: #04040b83;
  font-size: 20px;
  font-weight: ;
}
.footer-logo img {
  width: 300px;
}
